body {
  color: #453524;
  font-family: 'Roboto Slab', sans-serif;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
}

header {
  text-align: center;
}

header img {
	width: 150px;
}
header h1 {
	font-size: 58px;
}
header .slogan {
	font-size: 24px;
}

.main-wrapper {
  margin: auto;
  width: 100%;
}

/**
 * Ratings
 */
.review-item,
.review-rating {
  display: inline-block;
}

/**
 * Footer
 */
footer .logo {
  text-align: center;
}
footer .logo img {
  width: 50px;
}
footer .logo .slogan {
  font-size: 18px;
}


/******************* PROTO **************/
header {
  padding: 30px;
}
div.coffee-option {
  border-top: 1px solid black;
  padding: 30px;
}
div.option-content {
  max-width: 800px;
  margin: 30px auto;
}
footer {
  border-top: 1px solid black;
  padding: 30px;
}

.category_block img {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
}

.category_block .categ_desc_block {
  display: inline-block;
  width: 570px;
}

.option-content .item_title_block {
  overflow: hidden;
  margin-bottom: 20px;
}

.option-content .name {
  float: left;
  width: 220px;
}
.option-content .item_desc {
  float: left;
  width: 580px;
}

.review_user {
  overflow: hidden;
  margin-bottom: 20px;
}

.review_user img {
  width: 50px;
  float: left;
}

.review_user_name {
  font-size: 18px;
  margin: 10px 0 0 65px;
}

div.reviewForm {
  background: white
}

.mid_footer_content {
  width: 1070px;
  margin: 0 auto;
}
