<!DOCTYPE html>
<html ng-app="jitteryApp">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="CoffeeLoversCtrl">
  <header class="row">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="nav-inner">
          <div class="nav-center">
            <img src="images/logo.svg" />
          </div>
        </div>
        <div class="container-fluid">
          <a href="index.html"><img class="navbar-brand" src="images/logo_NAV.svg"/></a>
          
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Write a review for 50% off!</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-wrapper">

      <div class="option-content category_block"> 
        <img src="images/coffeelovers.jpg">
        <div class="categ_desc_block">
          <h1>Coffee Lovers</h1>
          <p>Your day starts when you take the first sip of a hot coffee in the morning. You love coffee. </p>
        </div>
      </div>

      <div class="coffee-detail-list">
        <div class="coffee-item" ng-repeat="coffee in coffees">
          <div class='option-content'>
            <div class="item_title_block">
              <h3 class='name'>{{ coffee }}</h3>
              <div class="item_desc">Medium to Strong, a rich and complex coffee with a smooth finish.</div>
            </div>
            <!-- <div class="review_user">
              <img src="images/person.jpg" />
              <div class="review_user_name">Kate</div>
            </div> -->
            <div class='review' ng-repeat="review in getReviews(coffee)">
              <img src="images/coffe_cups_review.png" />
              <!-- <span class="review_stars">{{ review.rating }}/5</span> -->
               <div class="review_text">{{ review.comment }}</div>
            </div>
            <a class="add_review" ng-click="addReview(coffee)">Add review</a>
            <!-- <div class='desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.</div> -->
            </div>            
        </div>
      </div>

    </div> <!-- close main wrapper -->

    <div class="reviewForm review-form-wrapper row">
      <form name="review-form" ng-submit="submitReview()" ng-hide="reviewSubmit">
        <div class="form-group">
          <span>{{ myReview.item }}</span>
          <label ng-repeat="num in [1, 2, 3, 4, 5]">
            <input ng-model="myReview.rating" type="radio" name="rating-value" id="rating-{{ num }}" value="{{ num }}">
            {{ num }}
          </label>
          <textarea ng-model="myReview.comment"></textarea>
          <button type='submit'>Submit</button>
        </div>
      </form>
      <div class='show-password' ng-show="reviewSubmit">
        <img src="images/secretpassword.jpg">
        <div class='msg-thank-you'>Thank you!</div>
        <div class='msg-password'>W3t332gfdg</div>
        <div class='msg-tip'>
          Use this password for your next purchase at <b>Jittery Joe's</b>
          to receive <b>50% off</b> your next cup o' joe!
        </div>
      </div>

    </div>

    <!-- load things -->
    <!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyModal.js"></script> 

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>

    <!-- custom JS -->
    <script src="js/app.js"></script>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
  </body>
</html>
