<!DOCTYPE html>
<html ng-app="jitteryApp">
  <head>
    <title>Jittery Joe's</title>
  </head>
  <body ng-controller="CoffeeLoversCtrl">
    <div class="main-wrapper">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="adventurers.html">Adventurers</a></li>
          <li><a href="deals.html">Today's Deals</a></li>
        </ul>

        <div class='col-md-4 header-logo'>
          Jittery Joe's
        </div>
      </nav>

      <div class="option-content category_block"> 
        <img src="images/coffee_lovers.png">
        <div class="categ_desc_block">
          <h1>Coffee Lovers</h1>
          <div>Description block.</div>
        </div>
      </div>

      <div class="coffee-detail-list">
        <div class="coffee-item" ng-repeat="coffee in coffees">
          <div class='option-content'>
            <h3 class='name'>{{ coffee }}</h3>
            <div class='review' ng-repeat="review in getReviews(coffee)">
              {{ review.rating }}/5 : {{ review.comment }}
            </div>
            <a ng-click="addReview(coffee)">Add review</a>
            <div class='desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.</div>
        </div>
      </div>

    </div> <!-- close main wrapper -->

    <!-- load things -->
    <!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyModal.js"></script> 

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>

    <!-- custom JS -->
    <script src="js/app.js"></script>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
  </body>
</html>
