<!DOCTYPE html>
<html ng-app="jitteryApp">
  <head>
    <title>Jittery Joe's</title>
  </head>
  <body ng-controller="ReviewListCtrl">
    <div>
      <header class="row">
        <img src="images/logo.png" />
        <h1>Jittery Joe's</h1>
        <div class="slogan">
          <span>Really good coffee.</span>
        </div>
      </header>

      <div class="container">
      <div id="cbp-so-scroller" class="cbp-so-scroller">
        <section class="cbp-so-section">
          <article class="cbp-so-side cbp-so-side-left">
            <h2>Coffee Lover</h2>
            <p>You love coffee. JITTERY 24/7
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          </article>
          <figure class="cbp-so-side cbp-so-side-right">
            <img class="image" src="images/coffeelovers.jpg" alt="img01">
          </figure>
        </section>
        <section class="cbp-so-section">
          <figure class="cbp-so-side cbp-so-side-left">
            <img class="image" src="images/adventurer.jpg" alt="img01">
          </figure>
          <article class="cbp-so-side cbp-so-side-right">
            <h2>Adventurer</h2>
            <p>You love trying new blends and exploring the world through your brew.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          </article>
        </section>
        <section class="cbp-so-section">
          <article class="cbp-so-side cbp-so-side-left">
            <h2>Daily Deals</h2>
            <p>You want a quality cup of Joe on a budget.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          </article>
          <figure class="cbp-so-side cbp-so-side-right">
            <img class="image" src="images/todaysdeal.jpg" alt="img01">
          </figure>
        </section>
      </div>
    </div>


      <!-- footer -->
      <footer class="row">
        <!-- Logo -->
        <div class="col-md-6">
          <div class="logo">
            <img src="images/logo.png" />
            <div class="slogan">
              Really good coffee.
            </div>
          </div>
        </div>

        <!-- newsletter form -->
        <div class="col-md-6">
          <form class="signup-form form-horizontal" name="signupForm" ng-submit="addNewSignup()" ng-hide="signupSent">
            <label for="signupForm">Subscribe to newsletter</label>
            <div class="user-name form-group">
              <label class="col-md-2 control-label" for="user-name-field">Name</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="user-name-field" name="user-name-field" ng-model="user.name" />
              </div>
            </div>
            <div class="user-email form-group">
              <label class="col-md-2 control-label" for="user-email-field">Email</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="user-email-field" name="user-email-field" ng-model="user.email"/>
              </div>
            </div>
            <div class="submit form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-default pull-right">Send</button>
              </div>
            </div>
          </form>

          <!-- thank you -->
          <div class="signup-sent" ng-show="signupSent">
            <h5>Thanks for signing up!</h5>
          </div>
        </div>
      </footer>

    </div> <!-- close main wrapper -->

    <!-- load things -->
    <!-- fancy scroll animations -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpScroller.js"></script>
    <script>
      new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
    </script>
    
    

    <!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>

    <!-- custom JS -->
    <script src="js/app.js"></script>

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/scrolling.css" />
    <link rel="stylesheet" type="text/css" href="css/scrollcomponent.css" />
    <link rel="stylesheet" href="css/style.css" />
  </body>
</html>
