<!DOCTYPE html>
<html ng-app="jitteryApp">
  <head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <title>Jittery Joe's</title>
    <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="ReviewListCtrl">
    <header class="row">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="nav-inner">
          <div class="nav-center">
            <img src="images/logo.svg" />
          </div>
        </div>
        <div class="container-fluid">
          <a href="index.html"><img class="navbar-brand" src="images/logo_NAV.svg"/></a>
          
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="addReview()">Write a review for 50% off!</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
<div class="container">
  <div class="welcome">
  <h1>Welcome! What kind of coffee person are you?</h1>
</div>
      
      <div id="cbp-so-scroller" class="cbp-so-scroller">
        <section class="cbp-so-section">
          <a href="coffee-lovers.html">
            <article class="cbp-so-side cbp-so-side-left">
              
              <h2>Coffee Lover</h2>
              <p>Your day starts when you take the first sip of a hot coffee in the morning. You love coffee. 
              </p>
            </article>
          
            <figure class="cbp-so-side cbp-so-side-right">
              <img class="image" src="images/coffeelovers.jpg" alt="img01">
            </figure>
        </a>
        </section>
        <section class="cbp-so-section">
          <a href="adventurers.html">
            <figure class="cbp-so-side cbp-so-side-left">
              <img class="image" src="images/adventurer.jpg" alt="img01">
            </figure>
            <article class="cbp-so-side cbp-so-side-right">
              <h2>Adventurer</h2>
              <p>You love trying new blends and exploring the world through your brew. Travel the coffee world with Joe.
              </p>
            </article>
          </a>
        </section>
        <section class="cbp-so-section">
          <a href="deals.html">
            <article class="cbp-so-side cbp-so-side-left">
              <h2>Daily Deals</h2>
              <p>You want a really good cup of coffee and not break the bank. Joe has you covered.
            </p>
            </article>
            <figure class="cbp-so-side cbp-so-side-right">
              <img class="image" src="images/todaysdeal.jpg" alt="img01">
            </figure>
        </a>
        </section>
      </div>
    </div>

      <!-- footer -->
      <footer class="row">
        <div class="mid_footer_content">
        <!-- Logo -->
        <div class="col-md-6">
          <div class="logo">
            <img src="images/logo.svg" />
            <div class="slogan">
              Really good coffee.
            </div>
          </div>
        </div>

        <!-- newsletter form -->
        <div class="col-md-6">
          <form class="signup-form form-horizontal" name="signupForm" ng-submit="addNewSignup()" ng-hide="signupSent">
            <label for="signupForm">Subscribe to newsletter</label>
            <div class="user-name form-group">
              <label class="col-md-2 control-label" for="user-name-field">Name</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="user-name-field" name="user-name-field" ng-model="user.name" />
              </div>
            </div>
            <div class="user-email form-group">
              <label class="col-md-2 control-label" for="user-email-field">Email</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="user-email-field" name="user-email-field" ng-model="user.email"/>
              </div>
            </div>
            <div class="submit form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-default pull-right">Send</button>
              </div>
            </div>
          </form>

          <!-- thank you -->
          <div class="signup-sent" ng-show="signupSent">
            <h5>Thanks for signing up!</h5>
          </div>
        </div>
      </div>
      </footer>

    <div class="reviewForm review-form-wrapper row">
      <form name="review-form" ng-submit="submitReview()" ng-hide="reviewSubmit">
        <div class="form-group">
          <select ng-model="review.item" ng-options="coffee for coffee in coffees" name="review-item-field" id="review-item-field" class="review-item-field form-control">
          </select>
          <label ng-repeat="num in [1, 2, 3, 4, 5]">
            <input ng-model="myReview.rating" type="radio" name="rating-value" id="rating-{{ num }}" value="{{ num }}">
            {{ num }}
          </label>
          <textarea ng-model="myReview.comment"></textarea>
          <button type='submit'>Submit</button>
        </div>
      </form>
      <div class='show-password' ng-show="reviewSubmit">
        <img src="images/secretpassword.jpg">
        <div class='msg-thank-you'>Thank you!</div>
        <div class='msg-password'>W3t332gfdg</div>
        <div class='msg-tip'>
          Use this password for your next purchase at <b>Jittery Joe's</b>
          to receive <b>50% off</b> your next cup o' joe!
        </div>
      </div>
    </div>

    <!-- load things -->
    <!-- fancy scroll animations -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpScroller.js"></script>
    <script>
      new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
    </script>
    
    

    <!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyModal.js"></script> 


    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>

    <!-- custom JS -->
    <script src="js/app.js"></script>

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/scrolling.css" />
    <link rel="stylesheet" type="text/css" href="css/scrollcomponent.css" />
    <link rel="stylesheet" href="css/style.css" />
  </body>
</html>
